:root {
  --banner_blue: #3ca0cb;
  --nn_red: #d9413d;
  --black: black;
  --banner_avio: #c5d2dd;
  --white: white;
  --untitled-ui--white: white;
  --untitled-ui--primary500: #9e77ed;
  --untitled-ui--gray600: #475467;
  --untitled-ui--gray900: #101828;
  --untitled-ui--primary700: #6941c6;
  --untitled-ui--primary50-2: #f9f5ff;
  --untitled-ui--gray100: #f2f4f7;
  --untitled-ui--gray700: #344054;
  --untitled-ui--gray50: #f9fafb;
  --untitled-ui--gray500: #667085;
  --untitled-ui--primary100: #f4ebff;
  --untitled-ui--gray200: #eaecf0;
  --untitled-ui--primary600: #7f56d9;
  --nn_cyan: #368db3;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 38px;
  font-weight: 700;
}

a {
  color: #000;
  text-decoration: none;
  transition: color .2s ease-in-out;
}

a:hover {
  color: var(--banner_blue);
}

img {
  display: inline-block;
}

.navbar {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fff;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: stretch;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 83%;
  text-align: left;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.container {
  width: 100%;
  max-width: 940px;
  justify-content: flex-start;
  align-items: center;
}

.navbar-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.button_navbar {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #d9413d;
  padding: 12px 25px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button_navbar:hover {
  color: #fff;
  background-color: #32343a;
}

.button_navbar:active {
  background-color: #43464d;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.container_std {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 1;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  padding: 0 140px;
  display: block;
}

.container_std.container_desc_top {
  margin-top: 5%;
  margin-bottom: 5%;
}

.container_std.container_desc_bottom {
  margin-bottom: 100px;
}

.container_std.container_video {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container_std.nero {
  background-color: #000;
  padding-bottom: 59px;
}

.container_std.sfondo1 {
  -webkit-text-fill-color: inherit;
  background-color: rgba(136, 136, 136, 0);
  background-image: url('../images/Screenshot-2024-03-10-210235.png');
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
  padding-top: 2%;
}

.desc_paragraph {
  width: 80%;
  color: #000;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}

.desc_paragraph.desc_paragraph_left {
  text-align: justify;
}

.desc_paragraph.desc_paragraph_right {
  text-align: right;
  margin-left: auto;
}

.desc_paragraph.bianco {
  color: #fff;
  text-align: center;
}

.button_std {
  width: 200px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #d9413d;
  border: 1px solid #506726;
  flex-flow: row;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  padding: 12px 25px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
  display: block;
}

.button_std:hover {
  color: #fff;
  background-color: #32343a;
}

.button_std:active {
  background-color: #43464d;
}

.button_std.button_desc_right {
  width: 250px;
  margin-top: 130px;
  margin-left: auto;
}

.button_std.button_desc_left {
  width: 250px;
  background-color: var(--nn_red);
  margin-top: 100px;
  margin-left: 0;
}

.std_heading {
  color: var(--black);
  text-align: center;
  flex: 0 auto;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  line-height: 60px;
  display: block;
}

.std_heading.desc_heading_left {
  text-align: left;
  margin-bottom: 20px;
}

.std_heading.desc_heading_left.bianco.sinstra {
  text-align: center;
}

.std_heading.desc_heading_left.bianco.centro {
  text-align: center;
  object-fit: fill;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.std_heading.desc_heading_left.bianco.centro.piccolo {
  text-align: center;
  font-size: 50px;
  position: static;
}

.std_heading.desc_heading_left.bianco.centro.piccolo.gg {
  font-size: 40px;
}

.std_heading.video_heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 70px;
}

.std_heading.desc_heading_right {
  text-align: right;
  margin-bottom: 20px;
}

.std_heading.bianco {
  color: #fff;
}

.body {
  pointer-events: auto;
  cursor: pointer;
  border: 1px solid #fff;
  overflow: visible;
}

.partner_div {
  background-color: var(--banner_avio);
  border-bottom: 1px solid #e4ebf3;
  padding: 25px 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.partner_div.partner_div_mobile {
  margin-left: 0;
  display: block;
}

.section_std {
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  position: relative;
}

.efi-social-link {
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.social_links_wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #6b6b6b;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.footer_social {
  color: rgba(255, 255, 255, .62);
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.footer_center {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer {
  background-color: #353232;
  padding-top: 100px;
  padding-bottom: 0;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.heading-6 {
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.heading-6.bianco {
  color: var(--white);
}

.image-2 {
  max-width: 25%;
  min-width: 0;
  object-fit: fill;
  margin: 15% 0 10% 38%;
}

.div-block {
  margin-right: 50%;
}

.div-block-2 {
  margin-left: 50%;
}

.image-3 {
  max-width: 100%;
}

.section {
  background-color: #8dc3e9;
}

.section:focus {
  background-color: #504343;
}

.section-3 {
  background-color: var(--white);
}

.heading-7 {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
}

.heading-7.progetti {
  font-size: 22px;
}

.heading-8 {
  color: var(--black);
  font-family: Montserrat, sans-serif;
  font-size: 22px;
}

.heading-8.progetti {
  font-size: 18px;
}

.heading-9 {
  color: var(--black);
  font-family: Montserrat, sans-serif;
}

.heading-10 {
  text-align: center;
  margin-top: 15%;
}

.heading-11 {
  text-align: center;
  margin-bottom: 75%;
}

.heading-12, .heading-13 {
  margin-bottom: 50%;
  font-family: Montserrat, sans-serif;
}

.heading-14, .heading-15 {
  text-align: right;
  font-family: Montserrat, sans-serif;
}

.heading-16 {
  text-align: right;
  margin-bottom: 50%;
  font-family: Montserrat, sans-serif;
}

.quick-stack {
  background-color: #000;
  font-family: Montserrat, sans-serif;
}

.div-block-3 {
  margin-top: -30%;
  margin-bottom: 20%;
  margin-left: 85%;
  padding-left: 0;
}

.button-3 {
  font-family: Montserrat, sans-serif;
  display: inline-block;
  position: static;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.button-3.oneretail {
  margin-bottom: -4%;
  position: absolute;
}

.social_link {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.desc_video_1 {
  width: 80%;
  height: 70%;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0);
  border: 2px #000;
  border-radius: 25px;
  margin-left: 10%;
  overflow: hidden;
}

.heading-17 {
  text-align: center;
  margin-bottom: -5%;
  font-family: Montserrat, sans-serif;
}

.image-7 {
  max-width: 23%;
  border-radius: 25px;
  margin-left: 2%;
}

.image-8 {
  max-width: 23%;
  border-radius: 25px;
  margin-top: 15%;
  margin-left: 1%;
}

.image-9 {
  max-width: 23%;
  border-radius: 25px;
  margin-bottom: 10%;
  margin-left: 2%;
}

.image-10 {
  max-width: 23%;
  border-radius: 25px;
  margin-top: 25%;
  margin-left: 2%;
}

.image-12 {
  max-width: 23%;
  border-radius: 25px;
  margin-top: -6%;
  margin-left: 1%;
}

.image-13 {
  max-width: 23%;
  border-radius: 25px;
  margin-top: -21%;
  margin-left: 2%;
}

.image-14 {
  max-width: 23%;
  border-radius: 25px;
  margin-top: -31%;
  margin-left: 2%;
}

.image-15 {
  max-width: 23%;
  border-radius: 25px;
  margin-top: 3%;
  margin-left: 2%;
}

.image-16 {
  max-width: 23%;
  border-radius: 25px;
  margin-top: -9%;
  margin-bottom: 5%;
  margin-left: 26%;
}

.image-17 {
  max-width: 23%;
  border-radius: 25px;
  margin-top: -22%;
  margin-left: 2%;
}

.heading-18 {
  font-family: Montserrat, sans-serif;
}

.heading-18.progetti {
  font-size: 35px;
}

.heading-19, .heading-20, .heading-21, .headin, .heading-23, .heading-24, .heading-25 {
  font-family: Montserrat, sans-serif;
}

.section-4 {
  background-color: rgba(0, 0, 0, .17);
}

.partner_wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  display: flex;
}

.partner_grid {
  width: 100vw;
  min-width: 100vw;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: left;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: stretch;
  justify-content: stretch;
  align-self: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: grid;
}

.partner_grid.partner_grid_mobile {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

.partner_logo_image {
  width: 150px;
  height: 100px;
  min-width: auto;
  aspect-ratio: auto;
  object-fit: contain;
  overflow: visible;
}

.partner_logo_image.partner_logo_align {
  padding-top: 13px;
  padding-bottom: 25px;
}

.partner_logo_image.banner_buffer {
  margin-right: 20px;
  padding-top: 5px;
}

.partner_logo_image.partner_logo_image_mobile {
  width: 100px;
  height: 50px;
  overflow: visible;
}

.container_div {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.container_div.button_div {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  aspect-ratio: auto;
  text-align: left;
  object-fit: fill;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  padding-top: 35%;
  display: flex;
  position: static;
}

.bg_video_fs {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: fill;
  position: relative;
}

.partner_heading {
  text-align: center;
  margin-bottom: 40px;
}

.partner_heading.std_heading {
  margin-bottom: 24px;
  font-size: 40px;
}

.desc_grid {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: grid;
  position: relative;
}

.desc_grid.ppdppe {
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
  position: absolute;
}

.desc_image_left {
  width: 65%;
}

.desc_image_right {
  width: 65%;
  margin-top: -10%;
  margin-left: 30%;
}

.section_paragraph {
  color: #000;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.section_paragraph.bianco {
  color: #fff;
}

.desc_video_2 {
  width: 80%;
  height: 70%;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0);
  border: 2px #000;
  border-radius: 25px;
  margin-top: 35%;
  margin-left: -5%;
  overflow: hidden;
}

.desc_video_3 {
  width: 80%;
  height: 70%;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0);
  border: 2px #000;
  border-radius: 25px;
  margin-left: -5%;
  overflow: hidden;
}

.div-block-5 {
  display: flex;
}

.footer_copyright {
  color: rgba(255, 255, 255, .62);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.footer_copyright_div {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: flex-end;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
}

.social_html_embed {
  width: 50px;
  height: 50px;
  color: #000;
  object-fit: contain;
  transition: color .2s ease-in-out;
}

.social_html_embed:hover {
  color: var(--banner_avio);
  mix-blend-mode: normal;
}

.social_html_embed.social_email {
  width: 45px;
  height: 45px;
}

.div-block-6 {
  object-fit: contain;
}

.navbar_wrapper {
  aspect-ratio: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: static;
}

.image-19 {
  margin-right: 0;
}

.container-2, .std {
  background-color: #000;
}

.div-block-7 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
}

.destra {
  text-align: right;
}

.lottie_animation_container {
  width: 100vw;
  height: 70vh;
  object-fit: contain;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.lottie_fs_background {
  object-fit: contain;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lottie_9_16 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.section-5 {
  background-color: #000;
}

.dropdown_oneretail {
  text-align: center;
  background-color: #3898ec;
  border-radius: 20px;
  margin-top: 15%;
  text-decoration: none;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 130%;
  right: 0%;
}

.text-block, .icon {
  color: var(--white);
}

@media screen and (min-width: 1920px) {
  .container {
    margin-left: 0%;
  }

  .container_std, .container_std.container_desc_top, .container_std.container_desc_bottom, .container_std.container_video {
    padding-left: 270px;
    padding-right: 270px;
  }

  .container_div.button_div {
    padding-top: 45%;
  }

  .footer_copyright {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container_std {
    padding-left: 40px;
    padding-right: 40px;
  }

  .desc_paragraph.desc_paragraph_left, .desc_paragraph.desc_paragraph_right {
    font-size: 12px;
    line-height: 12px;
  }

  .button_std {
    width: 200px;
    padding: 5px 10px;
    font-size: 11px;
  }

  .button_std.w--current {
    width: 150px;
    padding: 5px 0;
    font-size: 8px;
  }

  .button_std.button_desc_right {
    width: 175px;
    margin-top: 70px;
    font-size: 9px;
  }

  .button_std.button_desc_left {
    width: 175px;
    font-size: 9px;
  }

  .std_heading.desc_heading_left {
    font-size: 30px;
    line-height: 30px;
  }

  .std_heading.video_heading {
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 31px;
  }

  .std_heading.desc_heading_right {
    font-size: 30px;
  }

  .partner_div {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .efi-social-link {
    width: 50px;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .footer_social {
    padding-bottom: 0;
    font-size: 20px;
  }

  .desc_video_1 {
    width: 108px;
    height: 192px;
  }

  .container_div.button_div {
    padding-top: 40%;
  }

  .partner_heading.std_heading {
    margin-bottom: 0;
    font-size: 20px;
  }

  .section_paragraph {
    font-size: 14px;
  }

  .desc_video_2 {
    width: 108px;
    height: 192px;
    margin-top: 115px;
    margin-left: -10px;
  }

  .desc_video_3 {
    width: 108px;
    height: 192px;
    margin-left: -30px;
  }

  .footer_copyright {
    font-size: 10px;
  }

  .footer_copyright_div {
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .partner_div, .section_std {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .container_std {
    max-width: none;
  }

  .std_heading.video_heading {
    font-size: 10px;
    line-height: 10px;
  }

  .partner_div {
    padding: 0;
  }

  .partner_div.partner_div_mobile {
    display: flex;
  }

  .social_links_wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .partner_wrapper {
    width: 200vw;
  }

  .partner_wrapper.partner_wrapper_mobile_1 {
    margin-left: 0;
  }

  .partner_grid {
    width: 200vw;
    min-width: 200vw;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .partner_grid.partner_grid_mobile {
    width: 200vw;
    grid-column-gap: 7px;
    grid-row-gap: 7px;
  }

  .partner_logo_image {
    height: 50px;
  }

  .partner_logo_image.banner_buffer {
    margin-right: 10px;
  }

  .partner_logo_image.partner_logo_image_mobile {
    width: 80px;
  }

  .desc_grid {
    grid-template-rows: 1fr auto;
    grid-template-columns: auto;
  }

  .left_grid_content {
    margin-bottom: 0%;
  }

  .social_html_embed {
    width: 50px;
    aspect-ratio: auto;
  }
}

#w-node-_3aeef825-87e4-8aaf-f0f0-b691e13b3c34-b0afe301 {
  align-self: center;
  justify-self: auto;
}

#w-node-_5b0efa6a-09be-c1f0-3e52-56153bf96fed-b0afe301 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_661841c2-6345-d611-3e12-97b33a3b507d-b0afe301 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_661841c2-6345-d611-3e12-97b33a3b5078-b0afe301 {
  align-self: center;
  justify-self: end;
}

#w-node-_57868556-1110-0123-d1c8-ceebafff4da4-b0afe301, #w-node-_2ae9782d-6b88-3117-b7d6-da020352424e-b0afe301, #w-node-_4ec501ba-b982-5270-e13f-71311671f566-b0afe301, #w-node-_6e96ca55-b50c-4d97-bcc9-eab0f7b6d8b1-b0afe301, #w-node-_789f62e9-1977-14dd-2d0f-6e28910c8e3c-b0afe301, #w-node-_954bd338-8129-b8a1-79eb-0d869d34b025-b0afe301, #w-node-_41594ab7-f59f-59aa-12d0-8f0c02e9ec62-b0afe301, #w-node-c8f4db80-5cd6-b33e-066d-775fafd09888-b0afe301, #w-node-_88e0b53a-6c81-32cc-7227-41258e35ebb0-b0afe301, #w-node-_0726f504-e38a-c38a-480f-55747d0581de-b0afe301, #w-node-_64e8edb9-eb8e-e47d-c416-cbaa2a8022d4-b0afe301, #w-node-_4c4902bb-bf49-d3c8-d82f-eb23360c683c-b0afe301, #w-node-_4c4902bb-bf49-d3c8-d82f-eb23360c683d-b0afe301, #w-node-_4c4902bb-bf49-d3c8-d82f-eb23360c683e-b0afe301, #w-node-_4c4902bb-bf49-d3c8-d82f-eb23360c683f-b0afe301, #w-node-_4c4902bb-bf49-d3c8-d82f-eb23360c6840-b0afe301, #w-node-_4c4902bb-bf49-d3c8-d82f-eb23360c6841-b0afe301, #w-node-_4c4902bb-bf49-d3c8-d82f-eb23360c6842-b0afe301, #w-node-_4c4902bb-bf49-d3c8-d82f-eb23360c6843-b0afe301, #w-node-_4c4902bb-bf49-d3c8-d82f-eb23360c6844-b0afe301, #w-node-_4c4902bb-bf49-d3c8-d82f-eb23360c6845-b0afe301, #w-node-_4c4902bb-bf49-d3c8-d82f-eb23360c6846-b0afe301 {
  align-self: center;
  justify-self: center;
}

#w-node-_2e827835-735b-4b03-d4e2-4aa412500b6e-b0afe301 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: auto;
}

#w-node-_2e827835-735b-4b03-d4e2-4aa412500b71-b0afe301 {
  align-self: auto;
  justify-self: auto;
}

#w-node-_1c4f6d24-b9fe-0da6-8b6f-4a8d4a59212d-143dbe39 {
  align-self: center;
  justify-self: auto;
}

#w-node-_1c4f6d24-b9fe-0da6-8b6f-4a8d4a592132-143dbe39 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_0de59c0d-343c-a4c2-639d-0cf59948e49e-143dbe39 {
  align-self: center;
  justify-self: auto;
}

#w-node-_0de59c0d-343c-a4c2-639d-0cf59948e4a3-143dbe39 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: end;
}

#w-node-e34e752b-c230-3f3f-0380-6801e514ed55-143dbe39 {
  align-self: center;
  justify-self: auto;
}

#w-node-e34e752b-c230-3f3f-0380-6801e514ed5a-143dbe39 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_971880d4-94da-2b73-a6ba-44fd5692a9f1-bc1b0c28, #w-node-b4fbb6ff-763e-4d3f-d44e-89ae69eff9ab-bc1b0c28 {
  align-self: center;
}

#w-node-b4fbb6ff-763e-4d3f-d44e-89ae69eff9b6-bc1b0c28, #w-node-_6a32b5dc-17a6-b4dd-0661-135f40c56d62-bc1b0c28 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: end;
}

#w-node-_0231857f-8d66-b09b-ec02-0e907c23baee-bc1b0c28 {
  align-self: center;
}

#w-node-_0231857f-8d66-b09b-ec02-0e907c23baf0-bc1b0c28 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: end;
}

#w-node-_1c4f6d24-b9fe-0da6-8b6f-4a8d4a59212d-05a1b209 {
  align-self: center;
  justify-self: auto;
}

#w-node-_1c4f6d24-b9fe-0da6-8b6f-4a8d4a592132-05a1b209 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: auto;
}

#w-node-_0de59c0d-343c-a4c2-639d-0cf59948e49e-05a1b209 {
  align-self: center;
  justify-self: auto;
}

#w-node-_0de59c0d-343c-a4c2-639d-0cf59948e4a3-05a1b209 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: end;
}

#w-node-e34e752b-c230-3f3f-0380-6801e514ed55-05a1b209 {
  align-self: center;
  justify-self: auto;
}

#w-node-e34e752b-c230-3f3f-0380-6801e514ed5a-05a1b209 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: auto;
}

#w-node-_1c4f6d24-b9fe-0da6-8b6f-4a8d4a59212d-f541fb98 {
  align-self: center;
  justify-self: auto;
}

#w-node-_1c4f6d24-b9fe-0da6-8b6f-4a8d4a592132-f541fb98 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: auto;
}

#w-node-_0de59c0d-343c-a4c2-639d-0cf59948e49e-f541fb98 {
  align-self: center;
  justify-self: auto;
}

#w-node-_0de59c0d-343c-a4c2-639d-0cf59948e4a3-f541fb98 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: end;
}

#w-node-e34e752b-c230-3f3f-0380-6801e514ed55-f541fb98 {
  align-self: center;
  justify-self: auto;
}

#w-node-e34e752b-c230-3f3f-0380-6801e514ed5a-f541fb98 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: auto;
}

#w-node-_1c4f6d24-b9fe-0da6-8b6f-4a8d4a59212d-7bd51315 {
  align-self: center;
  justify-self: auto;
}

#w-node-_1c4f6d24-b9fe-0da6-8b6f-4a8d4a592132-7bd51315 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: auto;
}

#w-node-_0de59c0d-343c-a4c2-639d-0cf59948e49e-7bd51315 {
  align-self: center;
  justify-self: auto;
}

#w-node-_0de59c0d-343c-a4c2-639d-0cf59948e4a3-7bd51315 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: end;
}

#w-node-e34e752b-c230-3f3f-0380-6801e514ed55-7bd51315 {
  align-self: center;
  justify-self: auto;
}

#w-node-e34e752b-c230-3f3f-0380-6801e514ed5a-7bd51315 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: auto;
}

@media screen and (min-width: 1920px) {
  #w-node-_2e827835-735b-4b03-d4e2-4aa412500b71-b0afe301 {
    justify-self: center;
  }
}


