<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAO Retail API</title>
    </head>

    <body>
       <h2>API - CONTROL</h2>
        <ul>
            <li><a href="/api/info">/api/info</a></li>
            <li><a href="/api/morphcast">/api/morphcast</a></li>
            <li><a href="/api/audio_rec">/api/audio_rec</a></li>
            <li><a href="/api/dialogo">/api/dialogo</a></li>
        </ul>

        <h2>API - MODEL</h2>
        <ul>
            <li><a href="/api/utente/app/">/api/utente/app/</a></li>
            <li><a href="/api/carrello/">/api/carrello/</a></li>
            <li><a href="/api/utente/dialogo/">/api/utente/dialogo/</a></li>
            <li><a href="/api/ordine/">/api/ordine/</a></li>
            <li><a href="/api/catalogo">/api/catalogo </a></li>
            <li><a href="/api/descrizione_prodotto/">/api/descrizione_prodotto/</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </body>
</html>